/* COMMENT */ 

html {
    width: 100%;
    height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-family: "Fira Sans", sans-serif;
  color: #383838;
  background-color: #FFF;
}

/* Style the navigation menu */
.navbar {
  overflow: hidden;
  background-color: #aaa; /*#3b674b;*/
  color: #fff;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.navbar .navbar-collapse {
  display: none;
}

/* Style navigation menu links */
.navbar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.navbar a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}

.header {
    height: 70px;
    text-align: center;
}

.nav-button {
  text-align: right;
  justify-content: flex-end;
  height: 50px;
  min-width: 50px;
  display: flex;
  margin: auto;
}

.nav-button > .user-info {
  text-align: right;
  height: 50px;
  padding: 0 20px 0 0;
}

.nav-button > .user-info > p{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 50px; 
  vertical-align: middle;
}

.nav-button > button {
  background-color: #3b674b; 
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  vertical-align: middle;
}

.navbar-header > a {
    color: #fff;
	font-size: 25px;
	font-weight: 600;
}

/* LOGIN Specific */ 

.login-section {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 250px 0 0 0;
}

.intro-text {
    text-align: center;
    display: inline-block;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

.register-section {
    text-align: center;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
}

/* HOME Specific */ 

.welcome-section {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 250px 0 0 0;
}

.todays-picks-section {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
}

.scores-section {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
    height: 1230px;
}

.question-box {
    height: 98px;
    width: 399px;
    overflow: hidden; /* Makes cutoff work */
    border: 0px solid black; /* Just for aesthetics, can be removed */
    display: inline-block; /* Fit div to contents */
}

.question-embedded {
    height: 400px;
    width: 430px;
    margin-top: -32px; /* Cut off top bar */
    margin-left: -4px; /* Cut off left bar */
}

#top-bar{
    display: none;
}

.scores-section iframe{
    width: 736px;
    height: 100%;
}

.todays-picks-section > h1{
    padding: 0 0 10px 0;
    text-decoration: underline;
}

/* FULL PICKS Specific */ 

.weeks-picks-section {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 250px 0 0 0;
    height: 1040px;
}

.weeks-picks-section iframe{
    width: 100%;
    height: 100%;
}

.past-picks-section {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
    height: 890px;
}

.past-picks-section iframe{
    width: 100%;
    height: 100%;
}

/* STATISTICS Specific */ 

.stats-section {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 250px 0 0 0;
    height: 1480px;
}

.stats-section iframe{
    width: 1280px;
    height: 100%;
}

/* EARNINGS Specific */ 

.earnings-section {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 250px 0 0 0;
    height: 1450px;
}

.earnings-section iframe{
    width: 970px;
    height: 100%;
}

.payouts-section {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
    height: 820px;
}

.payouts-section iframe{
    width: 804px;
    height: 100%;
}

/* RULES Specific */ 

.rules-section {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 250px 0 0 0;
}

.content-text{
    max-width: 800px;
}

/* HISTORY Specific */ 

.history-section {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 250px 0 0 0;
}


/* TEMPLATES */
